spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smartscheduler?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: root123!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # 개발 단계: update or create-drop
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    
    
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug    